@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Church Web</h1>
    <p class="lead">Get back to jesus and fix all your issues with him and live a peaceful life with jesus as your saviour</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Semons</h2>
        <p>
            Get the best simonsa
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","VidoeFiles")'>Go To Sermons &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Announcements</h2>
        <p>Get all your freindly announcemns here.</p>
        <p><a class="btn btn-default" href='@Url.Action("AnouncementsV","Anouncements")'>Go To Announcements &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donations</h2>
        <p>Make your donations here.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Donations")'>Go To Announcements &raquo;</a></p>

    </div>
</div>